
/* Universal */
* {
    background-color: black;
    font-family: helvetica;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;
}

/* Header */

.logo {
    max-height: 50px;
    color: seashell;
    margin-left: 10px;
    
}

.header {
    max-height: 65px;
    border-bottom: 1px solid gray;  
    display: flex;
    width: 1200px;
    height: 69px;
}

.headerlinks {
    flex-direction: row;
    text-decoration: underline;
    display: inline-flex;

}

/* Our Mission */


.backgroundimg {
    max-height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
    
}

.ourmission {
    color: seashell;
    width: 1200px;
    top: 350px;
    position: absolute;
    text-align: center;
}
 

/* Tea of the Month section  */
.teaofthemonth {
    color: seashell;
    padding: 30px;
    max-height: 700px;
    text-align: center;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.container-2 {
    display: flex;
}

.image2 {
    width: 300px;
    height: 200px;
    margin: 20px;
}   

.myrtletea {
    display: block;
}

.fallberryblitz {
    width: 300px;
}

.spicedrum {
    width: 300px; 

}

.Donut {
    width: 300px; 

}

.BedfordTea {
    width: 300px;
}


/* Locations  */



.location-container {
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(./locations.jpeg);
}

.downtown {
    width: 300px;
    height: 300px;
    margin: 20px;
    line-height: 2;
}

.eastbayside {
    width: 300px;
    height: 300px;
    margin: 20px;  
    line-height: 2;
}

.oakdale {
    width: 300px;
    height: 300px;
    margin: 20px;   
    line-height: 2;
}

.location-title {
    background-color: transparent;
    top: 60px

}

/* Footer  */

.footer {
    height: 200px;
}

.copyright {
    float: left;
}